/04 Lab - Executables/*
/ErrorSolving/.vs/*
/ErrorSolving/Debug/*
/ErrorSolving/x64/*
/EventsAndDrawing/.vs/*
/EventsAndDrawing/Debug/*
/EventsAndDrawing/x64/*
/Explosion/.vs/*
/Explosion/Debug/*
/Explosion/x64/*
/FlowControlBasics/.vs/*
/FlowControlBasics/Debug/*
/FlowControlBasics/x64/*
/SDLEvents/.vs/*
/SDLEvents/Debug/*
/SDLEvents/x64/*
/TheoConditionals/.vs/*
/TheoConditionals/Debug/*
/TheoConditionals/x64/*